.Modal {
  position: absolute;
  top: 200px;
  left: 20vw;
  right: 20vw;
  bottom: 200px;
  background-color: #495159ff;
  border-color: rgba(38, 38, 38, 0);
  border-radius: 12px;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(38, 38, 38, 0.812);
}
@media (max-width: 1000px) {
  .Modal {
    top: 90px;
    left: 10px;
    right: 10px;
    bottom: 90px;
  }
}
