.Modal {
  position: absolute;
  width: 350px;
  height: 490px;
  background-color: var(--eerie-black);
  border-color: rgba(38, 38, 38, 0);
  border-radius: 12px;
  margin: auto;
  border: 2px solid var(--charcoal);
}
.Overlay {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(38, 38, 38, 0.812);
}
@media (max-width: 1000px) {
  .Modal {
    top: 90px;
    left: 10px;
    right: 10px;
    bottom: 90px;
  }
}
#form-title {
  text-align: center;
  padding-top: 0.25em;
}
