#greater-project-area {
  width: 100vw;
  max-width: 100%;
  background-color: var(--pewter-blue);
  padding-bottom: 1em;
}
#greater-project-area > h2 {
  color: var(--eerie-black);
  text-align: center;
  padding: 1em 0 0.5em 0;
  font-size: 2em;
}
#greater-project-area > hr {
  margin: 0 15% 0 15%;
  border-color: var(--eerie-black);
}

#project-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 15% 0 15%;
}
#project-item {
  margin-top: 1em;
  border-top: 1px solid rgba(255, 250, 250, 0.205);
  border-right: 1px solid rgba(255, 250, 250, 0.205);
  background: radial-gradient(
    rgba(255, 250, 250, 0.445) 10%,
    var(--pewter-blue)
  );
  width: 480px;
  border-radius: 4px;
}
#project-item > * {
  color: var(--eerie-black);
  margin: 0 0.25em 0 0.25em;
}
#project-item > h2 {
  text-align: center;
  padding: 0.25em 0 0.5em 0;
  font-size: 2em;
}
#project-item > p {
  text-indent: 1em;
  padding-bottom: 0.25em;
}
#source-code {
  fill: rgba(255, 250, 250, 0.767);
  display: block;
  margin: auto;
  padding-bottom: 0.2rem;
}
#source-code :hover {
  fill: var(--sea-green-crayola);
}
@media (max-width: 961px) {
  #greater-project-area > * {
    margin: 0 5% 0 5%;
  }
}
